<div class="container-cv">
  <div class="header-cv">
    <h1>Hugo Cesar Padilla Marínez</h1>
    <p>Full stack developer - Energy engineer</p>
  </div>

  <div class="main-cv">
    <h2>Personal Info</h2>
    <hr class="line-cv">
    <ul>
      <li><strong>Name:</strong> Hugo Cesar Padilla Martínez</li>
      <li><strong>Adress:</strong> Aguascalientes city, Aguascalientes Mexico</li>
      <li><strong>Phone:</strong> +52 449 278 4356</li>
      <li><strong>Email:</strong> hgocsr_pallmtz@live.com.mx</li>
      <li><strong>GitHub:</strong> <a href="https://github.com/HugoPadilla25" target="_blank">HugoPadilla25</a></li>
    </ul>

    <h2>Work experience</h2>
    <hr class="line-cv">
    <ul>
      <li>
        <h4>Technical Support Engineer in Electrical Maintenance</h4>
        <p><strong>Company:</strong> Nissan-Jatco transmissions</p>
        <p><strong>Duration:</strong> 2 YEARS, 3 MONTHS </p>
        <p><strong>Description:</strong> Predictive, Corrective and Preventive Maintenance Management. Development of
          Improvement Projects (Kaisen) Cost Savings, Process Improvement, Environmental Impact Improvements. Detection
          of Abnormalities. Industrial Safety.</p>
      </li>
      <li>
        <h4>Maintenance supervisor</h4>
        <p><strong>Company:</strong> Tabicel group (Brick factory)</p>
        <p><strong>Duration:</strong> 1 YEAR</p>
        <p><strong>Description:</strong> : GUARANTEE THE CORRECT OPERATION OF THE
          PRODUCTION PROCESSES, FACILITIES AND INFRASTRUCTURE OF THE
          PLANT. MANAGEMENT OF TECHNICAL PERSONNEL AND MAINTENANCE,
          PREVENTIVE, CORRECTIVE AND PREDICTIVE ACTIVITIES. SUPPLIER
          MANAGEMENT AND PROCESS IMPROVEMENTS</p>
      </li>
      <!-- Agrega más elementos "li" para cada trabajo -->
    </ul>

    <h2>Education</h2>
    <hr class="line-cv">
    <ul>
      <li>
        <h4>Energy engineer</h4>
        <p><strong>Institution:</strong> Universidad Politecnica de Aguascalientes (UPA)</p>
        <p> .                                           </p>
        <p><strong>Date:</strong> From Sep 2013 - Apr 2017</p>

      </li>
      <li>
        <h4>Web developer</h4>
        <p><strong>Bootcamp:</strong> Freecodecamp and microsoft learn</p>
        <p><strong>Description:</strong> Completed an intensive Web Developer Bootcamp mastering HTML, CSS, JavaScript, React, D3, PostgreSQL, Node.js, and Python</p>
      </li>
      <!-- Agrega más elementos "li" para cada título educativo -->
    </ul>

    <h2>Skills</h2>
    <hr class="line-cv">
    <ul>
      <li>Proficient in HTML, CSS, and JavaScript and python</li>
      <li>Front-end Development</li>
      <li>Back-end Development</li>
      <li>Version Control (Git)</li>
      <li>Web APIs and RESTful Services</li>
      <li>Web Performance Optimization</li>
      <li>Cross-Browser Compatibility</li>
      <li>UI/UX Design</li>
      <li>Web Security</li>
      <li>Problem-Solving</li>
      <li>Collaborative Team Player</li>
      <li>Continuous Learning</li>
      <li>High responsability level</li>
      <!-- Agrega más elementos "li" para cada habilidad -->
    </ul>
  </div>
</div>