<div class="description">
    <div class="left-side">
        <h1>Full Stack Developer</h1>
        <img src="images/Logo_gde.PNG" class="rounded-circle mx-auto d-block m-4 logo" id="logo-home">
    </div>
    <div class="text-box">
        <p>"Welcome to my portfolio as a Full Stack Developer specializing in JavaScript, Node.js, Express, Handlebars,
            Bootstrap, D3, HTML, CSS, MongoDB, PostgreSQL, and Python."</p>
        <p><i>Browse my app and explore my profile.  --Hugo Cesar Padilla Martínez</i></p>
        <p>Contact: hgocsr_pallmtz@live.com.mx</p>
        <hr class="line">
        <div class="imgs">
            <img src="images/html5.png" alt="HTML5" style="height: 50px; margin-right: 65px; margin-bottom: 20px;">
            <img src="images/css.png" alt="css" style="height: 50px; margin-right: 65px; margin-bottom: 20px;">
            <img src="images/js.png" alt="javaScript" style="height: 50px; margin-right: 65px; margin-bottom: 20px;">
            <img src="images/python.png" alt="python" style="height: 50px; margin-right: 65px; margin-bottom: 20px;">
            <img src="images/d3.png" alt="d3" style="height: 50px; margin-right: 65px; margin-bottom: 20px;">
            <img src="images/boostrap.png" alt="boostrap" style="height: 50px; margin-right: 65px; margin-bottom: 20px;">
            <img src="images/handlebars_logo.png" alt="handlebars" style="height: 50px; margin-right: 65px; margin-bottom: 20px;">
            <img src="images/Postgres.png" alt="PostgreSQL" style="height: 50px; margin-right: 65px; margin-bottom: 20px;">
            <img src="images/MongoDB.png" alt="mongoDB" style="height: 50px; margin-right: 65px; margin-bottom: 20px;">
            <a href="https://github.com/HugoPadilla25" target="_blank"><img src="images/github.png" alt="GitHub" style="height: 50px; margin-right: 15px; margin-bottom: 20px;"><i style="color: rgba(255, 255, 255, 0.61);">Visit my GitHub profile</i></a>
        </div>
    </div>
</div>