<div class="pt-container">
    <h1>Awards and certifications</h1>
    <div class="aws-container">
        <div class="awrd-row">
            <div class="awrd">
                <a href="https://www.freecodecamp.org/certification/fcc73db5846-48cb-4f3e-8b19-598db9162588/responsive-web-design" target="_blank"><img src="images/Responsive.JPG" alt="Responsive web design" class="certificado"></a> 
                <div class="awr-tag"><i>Responsive web design</i></div>
            </div>
            <div class="awrd">
                <a href="https://www.freecodecamp.org/certification/fcc73db5846-48cb-4f3e-8b19-598db9162588/javascript-algorithms-and-data-structures" target="_blank"><img src="images/js-alrgs.JPG" alt="JavaScript Algorithms and Data Structures" class="certificado"></a>
                <div class="awr-tag"><i>Js algorithms and data</i></div>
            </div>
            <div class="awrd">
                <a href="https://www.freecodecamp.org/certification/fcc73db5846-48cb-4f3e-8b19-598db9162588/front-end-development-libraries" target="_blank"><img src="images/front.JPG" alt="Front end development" class="certificado"></a>
                <div class="awr-tag"><i>Front end</i></div>
            </div>
        </div>
        <div class="awrd-row">
            <div class="awrd">
                <a href="https://www.freecodecamp.org/certification/fcc73db5846-48cb-4f3e-8b19-598db9162588/data-visualization" target="_blank"><img src="images/data-vis.JPG" alt="Data visualization" class="certificado"></a>
                <div class="awr-tag"><i>Data visualization</i></div>
            </div>
            <div class="awrd">
                <a href="https://www.freecodecamp.org/certification/fcc73db5846-48cb-4f3e-8b19-598db9162588/back-end-development-and-apis" target="_blank"><img src="images/back.JPG" alt="Back end development" class="certificado"></a>
                <div class="awr-tag"><i>Back end</i></div>
            </div>
            <div class="awrd">
                <a href="https://www.freecodecamp.org/certification/fcc73db5846-48cb-4f3e-8b19-598db9162588/scientific-computing-with-python-v7"><img src="images/scientific.JPG" alt="Scientific computing with python" class="certificado" target="_blank"></a>
                <div class="awr-tag"><i>Scientific computing</i></div>
            </div>
        </div>
    </div>
</div>