<div class="py-container">
    <div class="proyect-tag">
        <a href="/proyects/d3-globe-geo-json"><img src="/images/d3-globe.JPG" id="img"></a>
        <div class="text-cont">
            <h4>D3 Interactive GeoJson Globe</h4>
            <hr>
            <p>This project is a D3.js visualization that displays an interactive globe with geographic information. It uses D3.js library to create a 3D representation of the Earth's surface and allows users to explore information about different countries.</p>
        </div>
    </div>
    <div class="proyect-tag">
        <a href="/proyect/d3-choroplet-map"><img src="/images/choroplet.JPG" id="img"></a>
        <div class="text-cont">
            <h4>D3 Choroplet Education Map</h4>
            <hr>
            <p>This project is a choropleth map built with D3.js. It visualizes the percentage of adults with a bachelor's degree or higher in various counties of the United States. The map uses data from two JSON files: one containing county geometries and the other containing education data.</p>
        </div>
    </div>
    <div class="proyect-tag">
        <a href="/proyects/d3-heat-map"><img src="/images/d3-heatmap.JPG" id="img"></a>
        <div class="text-cont">
            <h4>D3 Heat Map</h4>
            <hr>
            <p>This project is a D3.js visualization that displays a heat map of global temperature data. It uses D3.js library to create an interactive heat map representing monthly temperature variations over the years.</p>
        </div>
    </div>
    <div class="proyect-tag">
        <a href="https://codepen.io/HugoPadilla25/pen/OJowEKX" target="_blank"><img src="/images/drum.JPG" id="img"></a>
        <div class="text-cont">
            <h4>React Drum-machine</h4>
            <hr>
            <p>The project is a simple React drum machine that allows users to play drum sounds by clicking on the drum pads or using keyboard keys. Each drum pad represents a different sound, and when clicked or pressed, it plays the corresponding sound.</p>
        </div>
    </div>
    <div class="proyect-tag">
        <a href="https://codepen.io/HugoPadilla25/pen/BaqBJYr" target="_blank"><img src="/images/clock.JPG" id="img"></a>
        <div class="text-cont">
            <h4>React 25 + 5 Clock</h4>
            <hr>
            <p>This project is a simple "25 + 5 Clock," also known as a Pomodoro Timer, built using React. The timer allows users to set two customizable durations: the session length and the break length. The app includes buttons to increment and decrement each length, a start/stop button to control the timer, and a reset button to reset the timer to the default values.</p>
        </div>
    </div>
    <div class="proyect-tag">
        <a href="https://codepen.io/HugoPadilla25/pen/dyqxggQ" target="_blank"><img src="/images/calc.JPG" id="img"></a>
        <div class="text-cont">
            <h4>Js-Html-css Calculator</h4>
            <hr>
            <p>JavaScript Calculator is a web-based calculator project developed as part of the FreeCodeCamp curriculum. It provides users with a simple and functional calculator interface to perform basic arithmetic calculations.</p>
        </div>
    </div>

</div>